<%= form_with(model: [@category, @task]) do |f| %>

    <p>
    <!-- we can access our controller instance variables here -->
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </p>
      
      <p>
          <%= f.label :name %><br/>
          <%= f.text_field :name %>
      </p>
      
      <p>
        <%= f.submit %>
      </p>
      
      <% end %>
      