<div class="container border mb-3 main-c">
  <div class="row">
    <div class="col">
      <h2>Log in</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group mb-3">
          <%= f.label :email, class:"form-label" %>
          <%= f.email_field :email, class:"form-control", autofocus: true %>
        </div>
        
        <div class="field form-group mb-3">
          <%= f.label :password, class:"form-label" %>
          <%= f.password_field :password, class:"form-control" %>
        </div>
        
        <div class="actions mb-3">
          <%= f.submit "Log in", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>    
  </div>
    <div class="row">
      <div class="col">
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>
    