<h1>Category Edit View</h1>
<%= form_for @category do |f| %>

  <p>
  <!-- we can access our controller instance variables here -->
  <% if @category.errors.any? %>
    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </p>
    
    <p>
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
    </p>
    
    <p>
      <%= f.submit %>
    </p>
    
    <% end %>
    