<div class="container main-c">
  <div class="row border mb-3">
    <div class="col">
      <h1>Create New Category</h1>
      <%= link_to "Home Page", root_path, class:"btn btn-link no-pad-sides" %> >
      <%= link_to "Categories", categories_path, class:"btn btn-link no-pad-sides" %>
      <a class="btn no-pad-sides rm-style"> > Create Category</a> 
    </div>
  </div>
  <div class="row">
    <%= form_with(model: @category) do |f| %>

      <p>
        <% if @category.errors.any? %>
          <ul>
            <% @category.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </p>
      
      <div class="field form-group mb-3">
          <%= f.label :name, class:"form-label", value:"Category Name" %>
          <%= f.text_field :name, class:"form-control" %>
      </div>
      
      <div class="field form-group mb-3">
        <%= f.submit "Create Category", class:"btn btn-primary" %>
      </div>
      <%= link_to "Back", :back, class:"btn btn-primary" %>
    <% end %>
    
  </div>
</div>
    